<br/>
<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Total price</th>
      <th>Currency</th>
      <th>Name surname</th>
      <th>Discount price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total_price %></td>
        <td><%= order.currency %></td>
        <td><%= order.name_surname %></td>
        <td><%= order.discount_price %></td>
        <td><%= order.category %></td>
        
        <td><%= link_to '<button type="button" class="btn btn-success btn-sm" >Show</button>'.html_safe , order %></td>
        <td><%= link_to '<button type="button" class="btn btn-primary btn-sm" >Edit</button>'.html_safe, edit_order_path(order) %></td>
        <td><%= link_to '<button type="button" class="btn btn-danger btn-sm" >Delete</button>'.html_safe, order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div >
  <%= link_to '<button type="button" class="btn btn-outline-primary" >New Order</button>'.html_safe , new_order_path %> 
  <%= link_to '<button type="button" class="btn btn-outline-primary" >New Category</button>'.html_safe , new_category_path %>
</div>
